
// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
.sidebar-links{
    padding-left: 0 !important;
    
}
ul li a span{
            
    letter-spacing: 1px !important;
    font-family: 'Roboto', sans-serif !important;
    text-transform: capitalize !important;
    font-weight: 500 !important;
    color: #2c323f;
}
.sidebar-link{
    text-decoration: none;
}
a{
    text-decoration: none;
}