<div class="container-fluid p-0"> 
    <div class="row m-0">
      <div class="col-12 p-0">    
        <div class="login-card">
          <form class="theme-form login-form" [formGroup]="changePassForm" (ngSubmit)="sumbitHandler()">
            <h4 class="mb-3">Reset Your Password</h4>
            <div class="form-group">
                <label>Enter Your Email Address</label>
                <div class="input-group">
                  <span class="input-group-text"><i class="icon-email"></i></span>
                  <input
                    class="form-control"
                    type="email"
                    required=""
                    formControlName="email_id"
                    placeholder="test@gmail.com"
                    [ngClass]="{
                      'is-invalid':
                        (isFormSubmitted && changePassForm.controls['email_id'].errors) ||
                        (!changePassForm.controls['email_id'].pristine &&
                        changePassForm.controls['email_id'].invalid)
                    }"
                  />
                  <div
                    class="invalid-feedback"
                    *ngIf="
                      (isFormSubmitted && changePassForm.controls['email_id'].errors) ||
                      (!changePassForm.controls['email_id'].pristine &&
                      changePassForm.controls['email_id'].invalid)
                    "
                  >
                    <div *ngIf="changePassForm.controls['email_id'].errors?.required">
                      Email Address is required
                    </div>
                    <div *ngIf="changePassForm.controls['email_id']?.errors?.pattern">
                      Enter valid email
                    </div>
                  </div>
                </div>
              </div>
            <div class="form-group">
              <button class="btn btn-primary btn-block" type="submit">Submit</button>
            </div>
            <p> Already have an account?<a class="ps-2 a-tag-common" routerLink="/user/login">Sign in</a></p>
          </form>
        </div>
      </div>
    </div>
  </div>