<app-breadcrumb [title]="'My Profiles'" [active_item]="'My Profiles'"></app-breadcrumb>

<div class="edit-profile">
    <div class="row">
    <div class="col-xl-1"></div>
      <div class="col-xl-8">
        <div class="card">
            <!-- <div class="card-header pb-0">
              <h4 class="card-title mb-0">Appearance</h4>
            </div> -->
            <div class="card-body">
                My Profiles
                <hr/>
                <div class="row">
                  <div class="col-md-12">
                    <div class="preview-wrap">
                <app-link-preview [linkData]="linkData" [profileData]="profileData"></app-link-preview>
                </div>
                </div>
                </div>
            </div>
        </div>
      </div>
    <div class="col-xl-1"></div>
    </div>
  </div>