<link href="https://fonts.googleapis.com/css2?family=Forum&display=swap" rel="stylesheet">
<div class="main-div" style="font-family: 'Forum', cursive !important;padding-left: 50px;padding-right: 50px;">
<header style="padding-left: 50px;">
  <div class="wrapper">
    <ul class="link-head">
      <li><button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Share</button></li>
      <li><a href="#" class="btn">Add to Fav</a></li>
    </ul>
  </div>

  <div class="wrapper">
    <div class="inner-wrapper">
        <div class="fnctn-details">
          <div class="date-time">
            <h2>26 August</h2>
            <h2>2023</h2>
            <h5>Saturday 11:30 am</h5>
          </div>
          <div class="counter-class" data-date="2023-08-26 11:30:00"><!-- Date Formate Input yyyy-mm-dd hh:mm:ss -->
            <div class="main"><span class="counter-days"></span> Days</div>
            <div class="sub"><span class="counter-hours"></span> Hours</div>
            <div class="sub"><span class="counter-minutes"></span> Min</div>
            <div class="sub"><span class="counter-seconds"></span> Sec</div>
          </div>
        </div>

    </div>
  </div>


</header>

<section class="middle">

  <div class="container-fluid p-0">
    <div class="row zerogutter">
      <!-- <div class="col-xl-7 col-md-6 order-md-2"><figure><img src="images/couple.png"></figure></div> -->
      <div class="col-xl-7 col-md-6 order-md-2">
        <figure>
          <div class="figbox">
            <span class="image" style="background-image: url(../../../../../assets/images/wedding/wedding2image/couple.png);"></span>
            <span class="frame"  style="background-image: url(../../../../../assets/images/wedding/wedding2image/frame.png);"></span>
          </div>
      </figure>
      </div>
      <div class="col-xl-5 col-md-6 order-md-1">
        <article>
        <h1>Ayesha<br>&<br>Bilal</h1>
        <h3>Invite to<br>our wedding</h3>
        <h4>St. George RC Church<br>Auditorium, Puthupady Kozhikode</h4>
        <a href="https://www.google.com/maps" target="_blank" class="btn">Get direction</a>
        </article>
      </div>
    </div>
  </div>

</section>


<div class="wrapper">
<section class="gallery">
<div class="container-fluid">
<div class="row">
  <div class="col-md-3 col-6">
    <figure class="one">
      <img src="../../../../../assets/images/wedding/wedding2image/snap1.png">
    </figure>
  </div>
  <div class="col-md-3 col-6">
    <figure class="two">
      <img src="../../../../../assets/images/wedding/wedding2image/snap2.png">
    </figure>
  </div>
  <div class="col-md-3 col-6">
    <figure class="three">
      <img src="../../../../../assets/images/wedding/wedding2image/snap3.png">
    </figure>
  </div>
  <div class="col-md-3 col-6">
    <figure class="four">
      <img src="../../../../../assets/images/wedding/wedding2image/snap4.png">
    </figure>
    <a href="#" class="btn">View All</a>
  </div>
</div>
</div>
</section>
</div>

<section class="videosec">
<div class="video">
  <iframe src="https://www.youtube.com/embed/Kch8n4tcOZQ" allowfullscreen></iframe>
</div>
</section>


<section class="plancntct">
<div class="wrapper">
<div class="inner-wrapper">
  <div class="plan">
    <h4>Do you have plan to attend</h4>

    <ul>
        <li>
          <input type="radio" name="radio-attend">
          <label>Yes</label>
        </li>
        <li>
          <input type="radio" name="radio-attend">
          <label>No</label>
        </li>
    </ul>

  </div>
  <div class="contact">
    <h4>Contact Us</h4>

    <ul>
      <li><a href="tel:+919700000000" class="btn"><img src="../../../../../assets/images/wedding/wedding2image/phone.png"><span>Call</span></a></li>
      <li><button class="btn wtsp-app" onclick="window.open('http://wa.me/+919700000000');"><img src="../../../../../assets/images/wedding/wedding2image/whatsapp.png"><span>Whatsapp</span></button></li>
    </ul>
  </div>
</div>
</div>
</section>


<footer>      
<h4>Powered By</h4>
<a href="#" class="btn">Signefic.com</a>
</footer>



<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <button onclick="window.open('https://www.youtube.com/embed/Kch8n4tcOZQ');"><img src="images/qr-code.png"></button>
      <p>Scan or click to preview</p>

      <ul>
        <li><button class="btn facebook-btn"></button></li>
        <li><button class="btn twitter-btn"></button></li>
        <!-- <li><a href="#" class="btn twitter-btn"></a></li>  sample-->
        <li><button class="btn linkedin-btn"></button></li>
        <li><button class="btn whatsapp-btn"></button></li>
        <li><button class="btn mail-btn"></button></li>
      </ul>

      <button class="btn copy-btn">Copy Link</button>
    </div>
  </div>
</div>
</div>



</div>