<app-breadcrumb
  [title]="'Change Password'"
  [items]="['Account']"
  [active_item]="'Change Password'"
></app-breadcrumb>
<div class="row m-0 mt-3 mb-3">
  <div class="col-12 p-0">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <form [formGroup]="resetPasswordForm" (ngSubmit)="sumbitHandler()">
              <div class="mb-3 m-form__group">
                <label>Enter Your Old Password</label>
                <div class="input-group">
                  <span class="input-group-text"
                    ><i class="icon-lock"></i
                  ></span>
                  <input
                    class="form-control"
                    type="text"
                    required=""
                    placeholder="*********"
                    formControlName="old_password"
                    [ngClass]="{
                      'is-invalid':
                        (isFormSubmitted &&
                          resetPasswordForm.controls.old_password.errors) ||
                        (!resetPasswordForm.controls.old_password.pristine &&
                          resetPasswordForm.controls.old_password.invalid)
                    }"
                  />
                  <div
                    class="invalid-feedback"
                    *ngIf="
                      (isFormSubmitted &&
                        resetPasswordForm.controls.old_password.errors) ||
                      (!resetPasswordForm.controls.old_password.pristine &&
                        resetPasswordForm.controls.old_password.invalid)
                    "
                  >
                    <div
                      *ngIf="
                        resetPasswordForm.controls.old_password.errors?.required
                      "
                    >
                      Old Password is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="mb-3 m-form__group">
                <label>Enter Your New Password</label>
                <div class="input-group">
                  <span class="input-group-text"
                    ><i class="icon-lock"></i
                  ></span>
                  <input
                    class="form-control"
                    type="text"
                    required=""
                    placeholder="*********"
                    formControlName="new_password"
                    [ngClass]="{
                      'is-invalid':
                        (isFormSubmitted &&
                          resetPasswordForm.controls.new_password.errors) ||
                        (!resetPasswordForm.controls.new_password.pristine &&
                          resetPasswordForm.controls.new_password.invalid)
                    }"
                  />
                  <div
                    class="invalid-feedback"
                    *ngIf="
                      (isFormSubmitted &&
                        resetPasswordForm.controls.new_password.errors) ||
                      (!resetPasswordForm.controls.new_password.pristine &&
                        resetPasswordForm.controls.new_password.invalid)
                    "
                  >
                    <div
                      *ngIf="
                        resetPasswordForm.controls.new_password.errors?.required
                      "
                    >
                      New Password is required
                    </div>
                    <div
                      *ngIf="
                        resetPasswordForm.controls.new_password.errors
                          ?.confirmedValidator
                      "
                    >
                      Old Password and New Password must be match.
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group text-right">
                <button class="btn btn-primary btn-block" type="submit">
                  Submit
                </button>
              </div>
            </form>
          </div>
          <div class="col-md-4"></div>
        </div>
      </div>
    </div>
  </div>
</div>
