.back-icon{
    padding: 15px;
    cursor: pointer;
}
.text-right{
    text-align: right;
}
.m-form__group .input-group-text {
    background-color: rgba(62, 92, 158, 0.1);
    border: none;
    color: #3E5C9E;
}