<div class="main-div">
<link href="https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap" rel="stylesheet">
<div style="font-family:post_no_bills_colomboregular !important;">
<header style="padding-left:140px;">
    <div class="wrapper">
      <ul class="link-head">
        <li><button type="button" class="btn">Share</button></li>
        <li><a href="#" class="btn">Add to Fav</a></li>
      </ul>
    </div>

    <div class="wrapper">
      <div class="inner-wrapper">
          <div class="fnctn-details">
            <div class="date-time">
              <h2>26 August</h2>
              <h2>2023</h2>
              <h5>Saturday 11:30 am</h5>
            </div>
            <div class="counter-class" data-date="2023-08-26 11:30:00"><!-- Date Formate Input yyyy-mm-dd hh:mm:ss -->
              <div class="main"><span class="counter-days"></span> Days</div>
              <div class="sub"><span class="counter-hours"></span> Hours</div>
              <div class="sub"><span class="counter-minutes"></span> Min</div>
              <div class="sub"><span class="counter-seconds"></span> Sec</div>
            </div>
          </div>

      </div>
    </div>


</header>

<section class="middle" >

    <div class="container-fluid p-0">
      <div class="row zerogutter">
        <!-- <div class="col-xl-7 col-md-6 order-md-2"><figure><img src="images/couple.png"></figure></div> -->
        <div class="col-xl-7 col-md-6 order-md-2">
          <figure>
            <div class="figbox">
              <span class="image" style="background-image: url(../../../../../assets/images/wedding/images/couple.png);"></span>
              <span class="frame"  style="background-image: url(../../../../../assets/images/wedding/images/frame.png);"></span>
            </div>
        </figure>
        </div>
        <div class="col-xl-5 col-md-6 order-md-1">
          <article>
          <h1 style="font-family:Alex Brush, cursive ;">Divin<br>&<br>Chippy</h1>
          <h3>Invite to<br>our wedding</h3>
          <h4>St. George RC Church<br>Auditorium, Puthupady Kozhikode</h4>
          <a href="https://www.google.com/maps" target="_blank" class="btn">Get direction</a>
          </article>
        </div>
      </div>
    </div>

</section>


<div class="wrapper">
<section class="gallery">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-6">
      <figure class="one">
        <img src="../../../../../assets/images/wedding/images/snap1.png">
      </figure>
    </div>
    <div class="col-md-3 col-6">
      <figure class="two">
        <img src="../../../../../assets/images/wedding/images/snap2.png">
      </figure>
    </div>
    <div class="col-md-3 col-6">
      <figure class="three">
        <img src="../../../../../assets/images/wedding/images/snap3.png">
      </figure>
    </div>
    <div class="col-md-3 col-6">
      <figure class="four">
        <img src="../../../../../assets/images/wedding/images/snap4.png">
      </figure>
      <a href="#" class="btn">View All</a>
    </div>
  </div>
</div>
</section>
</div>

<section class="videosec">
  <div class="video">
    <iframe src="https://www.youtube.com/embed/Kch8n4tcOZQ" allowfullscreen></iframe>
  </div>
</section>


<section class="plancntct">
<div class="wrapper">
  <div class="inner-wrapper">
    <div class="plan">
      <h4>Do you have plan to attend</h4>

      <ul>
          <li>
            <input type="radio" name="radio-attend">
            <label>Yes</label>
          </li>
          <li>
            <input type="radio" name="radio-attend">
            <label>No</label>
          </li>
      </ul>

    </div>
    <div class="contact">
      <h4>Contact Us</h4>

      <ul>
        <li><a href="tel:+919700000000" class="btn"><img src="../../../../../assets/images/wedding/images/phone-icon.png"><span>Call</span></a></li>
        <li><button class="btn wtsp-app"><img src="../../../../../assets/images/wedding/images/whatsapp-icon.png"><span>Whatsapp</span></button></li>
      </ul>
    </div>
  </div>
</div>
</section>


<footer>      
  <h4>Powered By</h4>
  <a href="#" class="btn">Signefic.com</a>
</footer>
</div>
</div>