
.view-profile{
    float: right;
    padding: 5px 10px;
    cursor: pointer;
  }
  .m-form__group .input-group-text {
    background-color: rgba(62, 92, 158, 0.1);
    border: none;
    color: #3E5C9E;
}
.event-actions{
  // padding: 7px;
  .view-event{
    margin: 0 10px;
    text-decoration: none !important;
  }
  .icon-pencil-alt{
    margin: 0 7px;
    cursor: pointer;
    font-size: 18px;
  }
  .icon-trash{
    color: #d70202;
    font-size: 18px;
    cursor: pointer;
  }
}